
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 2.4rem;
  font-size: 1.6rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

table tr th {
  background-color: #f6f6f6;
}

table tr th,
table tr td {
  padding: 0.5rem;
  border: 1px #eee solid;
}

tfoot tr th {
  text-align: right;
}